<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhipin.project.mzt.app.mapper.SharedMapper">
	<resultMap type="com.zhipin.project.mzt.app.domain.Shared" id="ResultMap">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="customer_id" jdbcType="BIGINT" property="customerId" />
		<result column="position_id" jdbcType="BIGINT" property="positionId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Base_Column_List">
   id, customer_id, position_id, create_time
  </sql>

	<!--新增-->
	<insert id="insert" parameterType="com.zhipin.project.mzt.app.domain.Shared">
     insert into shared (id, customer_id, position_id,
      create_time)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{positionId,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.zhipin.project.mzt.app.domain.Shared">
		update shared
		<set>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=BIGINT},
			</if>
			<if test="positionId != null">
				position_id = #{positionId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMap">
		select
		*
		from shared
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shared
    where id = #{id,jdbcType=INTEGER}
  </delete>
	
</mapper> 